<%= render 'shared/navbar' %>
<div class="container padding-navbar">
  <div class="cards-concerts">
    <% @concerts.each do |concert| %>
      <% end_event_date = Date.parse(concert.event_end_booking) %>
      <% if end_event_date >= Date.current %>
        <%= link_to concert_path(concert.id) do  %>
            <div class="card-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('<%= image_url(concert.photo)%>');">
              <div class="card-info">
                <h2><%= concert.artist_name %></h2>
                <div class="card-description">
                  <div class="description-icon">
                    <i class="far fa-calendar-times"></i>
                  </div>
                  <div class="description-text">
                    <%= concert.event_date %>
                  </div>
                </div>
                <div class="card-description">
                  <div class="description-icon">
                    <i class="fas fa-globe-europe"></i>
                  </div>
                  <div class="description-text">
                    <%= concert.concert_hall.country %> - <%= concert.concert_hall.city %>
                  </div>
                </div>
                <div class="card-description">
                  <div class="description-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="description-text">
                    <%= concert.concert_hall.hall_name %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
    <% end %>
  </div>
</div>
