<%= render 'shared/navbar' %>
<%= render 'shared/wrapper' %>

<% if policy(ConcertEvent).create? %>
  <p>test</p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <% if @concert.concert_hall.photo %>
          <div class="card-plan">
            <h2>Plan de salle</h2>
            <%= image_tag @concert.concert_hall.photo, class: "img-plan" %>
          </div>
      <% end %>
      <div class="card-plan">
        <h2>Informations complémentaires</h2>
        <ul>
          <div class="card-plan-content">
            <i class="fas fa-caret-right"></i>
            <li>Alfred Ticket est un service de réservation agissant en qualité de mandataire. À la suite de votre demande, nous réservons les billets demandés auprès des organisateurs, des billetteries, et des sites marchands.</li>
          </div>
           <div class="card-plan-content">
            <i class="fas fa-caret-right"></i>
            <li>Le prix facturé comprend le coût des billets, les frais de mandat et les frais de ports éventuels.</li>
          </div>
           <div class="card-plan-content">
            <i class="fas fa-caret-right"></i>
            <li>Le coût du mandat est fixé en fonction de la difficulté attendue pour réserver vos billets.</li>
          </div>
           <div class="card-plan-content">
            <i class="fas fa-caret-right"></i>
            <li>Les places assises d’une même commande sont situées côte à côte.</li>
          </div>
           <div class="card-plan-content">
            <i class="fas fa-caret-right"></i>
            <li>L’expédition en billet électronique est fiable, et vous ne risquez pas de l’égarer.</li>
          </div>
           <div class="card-plan-content">
            <i class="fas fa-caret-right"></i>
            <li>Les délais de livraisons peuvent varier. Vos places pourront vous être envoyées jusqu’à deux semaines avant le concert, habituellement sous 4 semaines. Si vous êtes pressés, souscrivez à l’option Fast Delivery.</li>
          </div>
           <div class="card-plan-content">
            <i class="fas fa-caret-right"></i>
            <li>Le droit de rétractation n’est pas applicable car nos bookers commencent la recherche de vos places en votre nom et pour votre compte dès la validation de la commande.</li>
          </div>
           <div class="card-plan-content">
            <i class="fas fa-caret-right"></i>
            <li>Médiation: Pour toute demande de recours, vous pouvez utiliser le service de médiation gratuit www.medicys.fr</li>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card-plan">
        <h2>Prix et catégories disponibles :</h2>
        <div class="sub-title">(Ces prix incluent nos frais de réservation et la TVA)</div>
        <form id="formID" action="/orders" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
        <div class="border-top selected">
          <label class="inline">
              <input id="selected-category" type="radio" name="category[id]" value="<%= @concert.categories.first.id %>" form="formID" checked/>
              <div for="" class="left-category selected-category"><%= @concert.categories.first.name %></div>
              <div class="right-category selected-price"><%= humanized_money(@concert.categories.first.price) %><%= currency_symbol %></div>
          </label>
        </div>
        <% @concert.categories[1..-1].each do |concert| %>
          <div class="border-top">
            <label class="inline">
                <input id="selected-category" type="radio" name="category[id]" value="<%= concert.id %>" form="formID"/>
                <div class="left-category"><%= concert.name %></div>
                <div class="right-category"><%= humanized_money(concert.price) %><%= currency_symbol %></div>
            </label>
          </div>
        <% end %>
        <h2 class="no-hover">Nombres de places :</h2>
        <div class="selected-quantity">
          <select id="quantity" name="order[quantity]" style="width:50px;" class="custom-select" form="formID">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <h2>Prix total TTC :</h2>
        <div id="calculation-total-price">
            <a class="category"></a>
            :
            <a class="quantity"></a>
            x
            <a class="price"></a>
            <%= currency_symbol %> =
            <a class="total"></a>
            <%= currency_symbol %>
        </div>
        <div class="card-button">
          <input type="submit" name="commit" value="Commander" form="formID" class="submit-order fullwidth" />
        </div>
      </div>
    </div>
  </div>
</div>
