<%= render 'shared/navbar' %>
<%= render 'shared/wrapper' %>

<div class="container">
  <div class="card-container-show">
    <% if @concert.concert_hall.photo %>
      <div class="card-block-plan">
        <div class="card-plan">
          <h2>Plan de salle</h2>
          <%= cl_image_tag @concert.concert_hall.photo, class: "img-plan" %>
        </div>
      </div>
    <% end %>

    <div class="card-block-order">
      <div class="card-plan">
        <h2>Prix et catégories disponibles :</h2>
        <div class="sub-title">(Ces prix incluent nos frais de réservation et la TVA)</div>
        <form id="formID" action="/orders" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
        <div class="border-top selected">
          <label class="inline">
              <input id="selected-category" type="radio" name="category[id]" value="<%= @concert.categories.first.id %>" form="formID" checked/>
              <div for="" class="left-category selected-category"><%= @concert.categories.first.category_name %></div>
              <div class="right-category selected-price"><%= humanized_money(@concert.categories.first.price) %><%= currency_symbol %></div>
          </label>
        </div>
        <% @concert.categories[1..-1].each do |concert| %>
          <div class="border-top">
            <label class="inline">
                <input id="selected-category" type="radio" name="category[id]" value="<%= concert.id %>" form="formID"/>
                <div class="left-category"><%= concert.category_name %></div>
                <div class="right-category"><%= humanized_money(concert.price) %><%= currency_symbol %></div>
            </label>
          </div>
        <% end %>
        <h3 class="no-hover">Nombres de places :</h3>
        <div class="selected-quantity">
          <select id="quantity" name="order[quantity]" style="width:50px;" class="custom-select" form="formID">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <h3>Prix total TTC :</h3>
        <div id="calculation-total-price">
            <a class="category"></a>
            :
            <a class="quantity"></a>
            x
            <a class="price"></a>
            <%= currency_symbol %> =
            <a class="total"></a>
            <%= currency_symbol %>
        </div>
        <div class="card-button">
          <input type="submit" name="commit" value="Commander" form="formID" class="submit-order fullwidth" />
        </div>
      </div>
    </div>
  </div>
</div>
