<div class="row grey padding-navbar">
  <div class="container">
    <div class="wrapper-container-clock">
      <div class="left-column">
        <div style="margin-right:20px;">
          <%= cl_image_tag @concert.photo ,
        width: 200, height: 200, :gravity=>"faces", crop: :fill, class: "avatar-large" %>
        </div>
        <div>
          <h3 id="artist_name"><%= @concert.artist_name %></h3>
          <h4><%= @concert.event_date %></h4>
          <div><%= @concert.concert_hall.hall_name %></div>
          <div><%= @concert.concert_hall.city %>, <%= @concert.concert_hall.country %></div>
        </div>
      </div>
      <div class="right-column">
        <h5>Fermeture du service dans :</h5>
        <div id="deadline" style="display:none"><%= @end_date  %></div>
        <div id="clockdiv">
          <div>
            <span class="days"></span>
            <div class="smalltext">JOURS</div>
          </div>
          <div>
            <span class="hours"></span>
            <div class="smalltext">HEURES</div>
          </div>
          <div>
            <span class="minutes"></span>
            <div class="smalltext">MIN</div>
          </div>
          <div>
            <span class="seconds"></span>
            <div class="smalltext">SEC</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
