<% I18n.translate %>
<%= render 'shared/navbar' %>
<div class="col-xs-1 text-center form-banner padding-navbar">
  <h1>Créer un compte</h1>
</div>
<div class="wrapper-container grey">
  <div class="container">
    <div class="form-session-long">
      <h3>Informations de compte</h3>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} caractères minimums" if @minimum_password_length) %>
        <%= f.input :password_confirmation,
                    required: true %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-session-long">
      <h3>Informations de compte</h3>
      <div class="form-inputs">
        <%= f.input :gender, as: :radio_buttons, collection: [['F', 'Madame'], ['M', 'Monsieur']], label_method: :second, value_method: :first %>
        <%= f.input :first_name,
                    autofocus: true,
                    required: true %>
        <%= f.input :last_name,
                    autofocus: true,
                    required: true %>
        <%= f.input :birth_date,
                    autofocus: true,
                    required: true %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-session-long">
      <h3>Informations de livraison</h3>
      <div class="form-inputs">
        <%= f.input :address,
                    autofocus: true,
                    required: true %>
        <%= f.input :address_bis,
                    autofocus: true %>
        <%= f.input :zip_code,
                    autofocus: true,
                    required: true %>
        <%= f.input :city,
                    autofocus: true,
                    required: true %>
        <%= f.input :country,
                    priority: [ "France" ],
                    required: true %>
        <%= f.input :phone_number,
                    autofocus: true,
                    required: true %>
        <%= f.input :biling_adress, as: :boolean, label_method: :biling_adress %>
        <div class="form-actions">
          <%= f.button :submit, "Enregistrez", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>
